<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Criar produto</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>

<!-- BootStrapzinho pra ficar bonitinho -->
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">Fiap</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#mynavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="mynavbar">
				<ul class="navbar-nav me-auto">
					<li class="nav-item"><a class="nav-link" href="/produto">Produto</a>
					</li>
					<li class="nav-item"><a class="nav-link"
						href="/fornecedor">Fornecedor</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/categoria">Categoria</a></li>
				</ul>
				<form class="d-flex">
					<div style="float: right;">
						<h2 class="text-white">
							<span th:text="${nome}"></span>
						</h2>
					</div>
				</form>
			</div>
		</div>
	</nav>

	<!-- <input type="button" onclick="getCategoria()" value="Categoria" /> -->
	<form method="post" action="/produto/create">
		<p>nome: <input type="text" name="nome" id="nome"></p>
		<p>Categoria: 
			<select name="idCategoria" id="idCategoria">
				<option th:each="categoria : ${categorias}" th:value="${categoria.getId()}" th:text="${categoria.getDescricao()}"></option>
			</select>
		</p>
		<p>Fornecedor: 
			<select name="idFornecedor" id="idFornecedor">
				<option th:each="fornecedor : ${fornecedores}" th:value="${fornecedor.getId()}" th:text="${fornecedor.getNome()}"></option>
			</select>
		</p>
		<input type="submit" value="Salvar"/>
	</form>
</body>
</html>

<script>
	function getCategoria(){
		fetch("/produto/categoria")
		.then(response => response.json())
		.then(data => alert(data.descricao))
		.catch(error => alert(error))
	}
</script>