<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{headFragment :: head('Criar Produto')}">

</head>

<body>
	<nav th:replace="~{menuFragment :: menu_nav}">
	
	</nav>
	
	<ul id="erros">
		
	</ul>
	
 <!--<input type="button" onclick="getCategoria()" value="Categoria" /> -->
	<form method="post" action="/produto/create" id="frmProduto" >
		<p>nome: <input type="text" name="nome" id="nome"/></p>
		<p>Categoria
			<select name="idCategoria" id="idCategoria">
				<option value="0" >Selecione</option>
				<option th:each="item : ${categorias}" th:value="${item.getId()}" 
				th:text="${item.getNome()}" >
				</option>
			</select>
		</p>
			
		<p>Fornecedor: 
			<select name="idFornecedor" id="idFornecedor" >
				<option value="0" >Selecione</option>
				<option th:each="thiago : ${fornecedores}" th:value="${thiago.getId()}"
				th:text="${thiago.getNome()}"></option>
				
			</select>
		</p>
		
		<p>Imagem:
			<input type="file" name="file" id="file" /> 
		</p>
		
		<input type="submit" value="Salvar" />
	</form>
		<input type="button" value="Salvar via javascript" onclick="salvar()" />
	
</body>
</html>
<script>
	let responseEntity; 
	
	function salvar()
	{
		up();
		const form = document.getElementById("frmProduto");
		const formData = new FormData(form);
		
		const jsonBody = JSON.stringify(Object.fromEntries(formData.entries()));
		const header = new Headers();
		header.append("Content-Type", "application/json");
		
		const requestOption ={
			method: 'POST',
			headers: header, 
			body: jsonBody
		};
		
		fetch('/produto/create-form', requestOption)
		.then(response => {
			responseEntity = response;
			return response.json();
		})
		.then(data => tratrarRedirect(data))
		.catch(error => console.log(error));
	}
	
	function tratrarRedirect(data){
		if(responseEntity.ok){
			alert('Produto cadastrado com sucesso');
			window.location.href= '/produto';
			return; 
		}
		
		let listErros = document.getElementById('erros');
		listErros.innerHTML = '';
		let itemListError = '';
		
		if(data.hasOwnProperty('nome'))
			itemListError = `<li class='text-danger'>${data.nome}</li>`;
			
		if(data.hasOwnProperty('idFornecedor'))
			itemListError += `<li class='text-danger'>${data.idFornecedor}</li>`;
			
		listErros.innerHTML = itemListError;
	}
	
	
	function getCategoria(){
		fetch("/produto/categoria")
		.then(response => response.json())
		.then(data => alert(data.descricao))
		.catch(error => alert(error))
	}
	
	function up(){
		const arquivo = document.getElementById('file').files[0];
		var formData = new FormData();
		formData.append("image", arquivo);
		
		var requestOptions = {
				method: 'POST',
				body: formData
		};
		
		fetch("/arquivo", requestOptions)
		.then(response => response.json())
		.then(result => console.log(result))
		.catch(erro => console.log(erro))
		
	}
		
</script>